<!DOCTYPE html>
<html lang="en">
<head>
    <!--
/*
 * Name: Sandun Withana Arachchi
 * Student ID: 1591903
 * BIT235 Assessment 2 - Part A
 *
 * This controller handles requests related to the administrator login.
 */
    -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Failed</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="message-container">

    <h1>Login Failed</h1>

    <p>
        Invalid username or password.
    </p>

    <a href="/">Try Again</a>

</div>

</body>
</html>